html, body {
    height: 100%;
    width: 100%;
  }
  .section-p1{
    padding: 40px 80px;
  }
  .section-m1{
    margin: 40px 0;
  }
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color:#fff;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  outline: none;
  transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color:transparent;
  border-radius: 4px;
  cursor: pointer;
  border:1px solid;
  outline: none;
  transition: 0.2s;
}

  /*header start*/
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #8bb2d0;
    box-shadow: 0 5px 15px rgb(0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

  }
#header .logo{
  width: 70px;
  height: 70px;
  background-color:#dd9d9d;
  box-shadow: 0 10px 10px #757070;
  
}
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  #navbar li a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: #e6eeef;
    transition: 0.3s ease;
  }
  #navbar li a:hover,
  #navbar li a.active{
    color: #088178;
  }
  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4%;
    left: 20px;
  }
#mobile{
  display:none ;
  align-items:none ;
}

  /*hero page*/

  #hero{
    background-image: url("img-p2p/p2p-about.jpg");
    height: 40vh;
    width: 100%;
    background-position: top 20% right 0;
    background-size: cover;
    padding:20px 20px;
    margin-top: 5px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;

  }
  #hero h4{
    padding-bottom: 15px;
  }
  #hero h1{
    color: #088178;
  }
/*
#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088177;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }
*/

#feature{
    display: flex;
    align-items: center;
    justify-content: var();
    flex-wrap: wrap;
  }
  #feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px #fddde4;
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  margin: 10px 6px;

}
#feature .fe-box:hover{
box-shadow:10px 10px 40px rgb(0,0,0.03);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 20px;
}
#feature .fe-box h6{
  display: inline-block;
padding: 9px 8px 6px 8px;
border-radius: 4px;
line-height: 1;
color: #088178;
background-color:  #fddde4;
}
#feature .fe-box:nth-child(2) h6{
 background-color:lightslategray; 
}
#feature .fe-box:nth-child(3) h6{
  background-color: darkmagenta; 
 }
 #feature .fe-box:nth-child(4) h6{
  background-color: lightseagreen; 
 }
 #feature .fe-box:nth-child(5) h6{
  background-color: lightgreen; 
 }
 #feature .fe-box:nth-child(6) h6{
  background-color:orange; 
 }

 #product1{
  text-align:center;
 }
 #product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
 }
 #product1 .pro{
  width: 22%;
  min-width: 250px;
  padding: 5px 10px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(143, 136, 149);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
 }
 #product1 .pro:hover {
  box-shadow: 20px 20px 40px #1a1a1a;
 }
 #product1 .pro img {
  width: 100%;
  border-radius: 20px;
 }
 #product1 .pro .des{
  text-align: start;
  padding: 10px 0;
 }
 #product1 .pro{
  color: #53535e;
  font-size: 12px;
 }
 #product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
 }
 #product1 .pro .des i{
  font-size: 12px;
  color: rgb(206, 200, 41);
 }
 #product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
 }
 #product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #b8abab;
  font-weight: 500;
  color: #38af40;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
 }
#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h3{
  color: #fff;
  font-size: 25px;
}
#banner h1{
  color: #fff;
  font-size: 46px;
  padding: 1px 0;

}
#banner span{
  color: #ef3636;
}
#banner button:hover{
  background: #088178;
  color: #fff;
}
#sm-banner{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b17.jpg);
  min-width: 500px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2{
  background-image: url("img/banner/b10.jpg");
}
#sm-banner h3{
color: #fff;
font-size: 20px;
font-weight: 300;
}
#sm-banner h1{
  color: #fff;
font-size: 28px;
font-weight: 800;
}
#sm-banner span{
  color: #fff;
font-size: 14px;
font-weight: 500;
padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
  background: #088178;
  border: 1px solid #38af40;
}

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
  background-image:url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
  background-image:url("img/banner/b18.jpg");
}

#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 32px;
}
#banner3 h3{
  color: rgb(208, 18, 18);
  font-weight: 800;
  font-size: 22px;
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding-left: 20px;
  padding-bottom: -10px;

}
#newsletter p{
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding-left: 20px;

}
#newsletter span{
  color: #ef3636;
  font-weight: 800;
  padding-left:5px ;
}
#newsletter .form{
  margin-right: 30px;
  display: flex;
  width: 40%;
}
#newsletter input{
  height: 3.125rem;
  padding: o 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-left-radius:0 ;
}
#newsletter button{
  background-color: #088177;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

/* footer css*/
footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h3{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
  padding-bottom: 10px;

}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer.follow{
  margin-top: 20px;
}
footer.follow{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;

}
footer .install .row img{
 border: 1px solid #881788;
 border-radius: 6px;

}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color: #0a860c;

}
.copyright{
  width: 100%;
  text-align: center;
  margin: 0;
}

/* media query*/
@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 40px 60px rgb(0,0,0.03);
    padding: 80px 0 0 10px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

}
